# Excluir todos os diretórios node_modules em todos os subdiretórios
node_modules/

# Excluir todos os arquivos .env em todos os subdiretórios
**/.env

# Outras regras que você pode querer adicionar
# Excluir logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Excluir diretórios de build
node-app
dist/
build/
out/
artifacts/
